# Dependencies
node_modules/
.pnpm-debug.log*

# Build output
dist/
build/

# Environment variables
.env
*.env*

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
thumbs.db

# TypeScript
*.tsbuildinfo
dist
dist-ssr